---
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  return {
    paths: [
      { params: { id: ['first'] } },
      { params: { id: ['second'] } },
    ],
    fallback: false,
  };
}

---
<Layout>
  <p>This is a dynamic page</p>
</Layout>